@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  display: none;
}
#nheader {
  height: 120px;
}
body{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0px;
  padding-top: 20px;
}
.about-textcontent {
  background-color: #efeeee;
  margin-top: 200px; 
  padding: 20px; 
  text-align: justify; 
  width: 90%;
  color: rgb(54, 52, 52);
}
.teamname {
  margin-top: 30px;
}
.teamname b{
  font-size: 40px;
  margin-left: 40%;
  color: rgb(54, 52, 52);
  font-size: xx-large;
}

.container{
  height: 500px;
  display: flex;
  min-width: 400px;
  align-items: flex-end;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 40px;
}
.icon-image{
  position: relative;
  height: 70px;
  width: 70px;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background: #fff;
}
.icon-image .icon img{
  position: absolute;
  height: 95%;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #9568a0;
}
.icon-image::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.icon-image .hover-image{
  position: absolute;
  height: 350px;
  width: 300px;
  bottom: 100px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, z-index 0s, left 0.5s ease ;
  transition-delay: 0s, 0.5s, 0.5s;
}
.icon-image:hover .hover-image{
  left: -200px;
  z-index: 1;
  transform: translateX(80px);
  transition: left 0.5s ease, z-index 0s, transform 0.5s ease;
  transition-delay: 0s, 0.5s, 0.5s;
}
.hover-image img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 25px;
}
.hover-image .content{
  position: absolute;
  width: 100%;
  bottom: -10px;
  padding: 0 10px;
}
.content::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 50%;
  bottom: -7px;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}
.content .details{
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}
.icon-image:hover .details{
  transition: all 0.5s ease;
  transition-delay: 0.9s;
  opacity: 1;
  transform: translateY(4px);
  pointer-events: auto;
}
.details::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  left: 50%;
  bottom: -15px;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}
.content .details .name{
 font-size: 20px;
 font-weight: 500;
 color: #A481CC;
}
.content .details .job{
 font-size: 15px;
 color: #5a5757;
 margin: -3px 0 5px 0;
}
.content .details a:hover{
  color: #5a5757;
}
.container .last .hover-image{
  transition: none;
}
.container .last:hover .hover-image{
  transition: 0;
}
.last:hover .details{
  transition-delay: 0s;
}

.header {
  font-weight: bold; 
  font-size: xx-large; 
  text-align: center; 
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
  width: 100vw;
  position: fixed;
  z-index: 12;
  background-color: #ffffff;
}

.back-icon {
position: fixed;
left: 60px;
}
.container {
width: 90%;
height: 420px;
}

@media screen and (max-width:390px) {
  #nheader {
    height: 95px;
  }
  .back-icon {
    left: 30px;
    }
  .container{
    height: 450px;
    }
  .icon-image{
    height: 30px;
    width: 30px;
    }
    .icon-image .hover-image{
      height: 250px;
      width: 150px;
    }
    .teamname {
      margin-top: 10px;
      margin-bottom: -150px;
    }
    .teamname b{
      font-size: 30px;
      margin-left: 22%;
    }
    .icon-image:hover .hover-image{
      left: -150px;
    }
    .header {
      padding-top: 80px;
    }
}