body {
    background-color: #FFFFFF;
    font-family: 'Heebo';
    margin-top: 25px;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  #nheader {
    height: 109px;
  }
.nmenu-items li {
    margin-bottom: 1px;
  }
  /* Set the width and height of the main box */
  .main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }
.top {
  margin-left: 10px;
  padding-top: 200px;
}
  /* Set the width and height of the small boxes */
  .small-box {
    border: solid 1px;
    width: 25%;
    height: 90%;
    margin-right: 20px;
    background-color: #efeeee; /* Just for visualization purposes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Styles for the top section */
  .small-box .top-section {
    font-size: 18px;
    height: 45px;
    text-align: center;
    background-color: #dcd8d89e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid;
  }
  .small-box .top-section b {
    color: #9568A0;
    padding: 10px;
    
  }
.udetails {
  font-size: 12px;
  text-align: left;
  margin: 10px;
  display: flex;
  margin-left: 86px;
}
.udetails1 {
  color: #3a3939;
  margin-left: -50px; 
}
.udetails1 span {
  color: #9568A0;
  font-size: 13px;
}
.udetails2 {
  color: #3a3939;
  margin-left: 30px;
}
.udetails2 span {
  font-size: 13px;
  color: #9568A0;
}
  /* Styles for the bottom section */
  .small-box .bottom-section {
    font-size: xx-large;
    text-align: center;
    margin: 15px;
  }
  .udetails button {
    font-size: 12px;
    margin-left: 35%;
    background-color: #9568A0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .udetails button b {
    color: #fffafa;
  }
  .udetails button:hover {
    background-color: #fcfbfd;
  }
  .udetails button b:hover {
    color: #9568A0;
  }
.pdetails {
  color: #3a3939;
  font-size: 18px;
  text-align: left;
  margin-left: 30%;
  padding-bottom: 20px;
}
.pdetails span {
  font-size: 25px;
  color: #9568A0;
}
  .small-box .bottom-section a, b {
    color: #9568A0;
  }

  .header {
    padding-bottom: 20px;
    font-weight: bold; 
    font-size: xx-large; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-top: 100px;
    z-index: 29px;
    background-color: #ffffff;
    width: 100vw;
}

.header a, span, i{
  color: #3d3c3c;
} 

.back-icon {
  position: fixed;
  left: 60px;
  color: #3d3c3c;
}

.hrecent {
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: bold; 
  font-size: xx-large; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3c3c;
}

table {
  margin: 20px;
  width: 1000px;
  border: 1px solid grey;
  text-align: center;
  color: #3a3939;
  background-color: #efeeee;
  
}

table thead tr th {
  color: #ffffff;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #424242;
}

table tbody tr td, a {
  color: #3d3c3c;
  line-height: 35px;
  text-decoration: none;
}
table tbody tr td a {
  font-weight: 600;
} 

.mainbox2 {
  padding-bottom:25px;
}

.rood >td{
  background-color: #f0f0f0;
}

.reven >td{
  background-color: #e2dfdf;
}

@media screen and (max-width:390px) {
  body {
    margin-top: 0px;
  }
  #nheader {
    height: 90px;
  }

  .main-box {
    width: 310%;
    margin-left: -400px;
    margin-top: 90px;
  }
  table {
    margin-left: -3px;
    width: 300px;
    margin-bottom: -70px;
  }
  table thead tr th {
    font-size: 15px;
  }
  table tbody tr td, a {
    line-height: 30px;
    font-size: 10px;
  }
  .back-icon {
    font-size: 25px;
    margin-left: -25px;
  }

  .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 185px;
  }
  
  .small-box {
    border: solid 1px;
    width: 25%;
    height: 90%;
    margin-bottom: 20px; /* Add margin-bottom to create vertical spacing */
    background-color: #efeeee; /* Just for visualization purposes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hrecent {
    margin-top: -100px;
    margin-bottom: -100px;
    padding-top: -120px;
  }

  .recentsmall-box {
    display: none;
  }

  .udetails {
    margin-left: 80px;
  }
  .top {
    padding-top: 200px;
  }
}