body {
    font-family: 'Heebo';
  }
  .header {
    font-weight: bold; 
    font-size: xx-large; 
    text-align: center; 
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    position: fixed;
    width: 100vw;
    z-index: 2px;
}
.header span {
    color: #424242;
}
.back-icon i{

    padding-top: -120px;
    left: 50px;
    color: #424242;
    font-size: x-large; 
}
/* .flex-container{
  width: 90%;
  height: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5%;
}
.flex-box{
    padding: 20px;
    width: 300px;
    height: auto;00
    background-color: rgb(58, 165, 58);
    border-radius: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    } */
 .back-icon {
  position: fixed;
  left: 50px;
  color: black;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  height:95px ;
  background-image: -webkit-linear-gradient(15deg, #000000 70%, #A481CC 30%);
}
/* .text{
  font-size: 64px;
  font-family: Jost;
  color: rgb(253, 254, 255);
  margin-top: -75px;
  margin-left:70px ;
} */
.col{
  margin-top: -30px;
  padding: 0px;
}
.mt{
  flex: 60%;
}
.follow{
  font-size: xx-large;
  flex: 30%;
  color: #F5EDFF;
}
.fb{
  flex: 10%;
}
.insta{
  flex: 10%;
}
.twitter{
  flex:10%;
}
.at{
  flex: 1%;
  color:white ;
  font-size: 10px;
  margin-bottom: 10px;
  }
  .last{
  color: #F5EDFF;
  flex: 50%;
  font-size:large;
  }
  .ffcard {
    width: 300px;
    height: 110px;
    padding: 20px;
    overflow-x: hidden;
    /* margin: 10px; */
    margin-bottom: 60px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-right: 20px;
    
  }
  .ffcard .ffcard-text p{
    padding-top: 10px;
    margin-top: 10px;
    overflow: hidden;
    color: #9568A0;
  }
  .main-card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    padding-left: 100px;
    padding-top: 180px;
  }
  .ffcard p{
    color: #494747;
    font-size: 15px;
  }

  .ffcard span{
    color: #9568A0;
    font-size: 12px;
    font-weight: 400;
  }
  
  .ffcard::-webkit-scrollbar {
    width: 3px;
    margin-right: 10px;
  }
  
  .ffcard::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  
  .ffcard::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 4px;
  }
  
  .ffcard::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; 
  }

.ffcard {
  overflow-y: scroll;
  align-items: left;
}
.parent p {
  color: #000000;
}

  @media screen and (max-width:390px) {
    .main-card-box {
      display: block;
      margin-left: 10px;
    }
    .header {
      padding-top: 100px;
  }
  .ffcard {
    margin-bottom: 40px;
  }
  }
