*{
    margin: 0;
    font-family: 'Heebo';
}

html::-webkit-scrollbar {
  display: none;
}
.ffooter{
  position: relative;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height:95px ;
  background-image: -webkit-linear-gradient(15deg, #2C1D4F 70%, #383838 30%);
  }

  .fmt{
    flex: 30%;
  }
  .ffollow{
    font-size: 18px;
    flex: 15%;
    color: #F5EDFF;
    padding-bottom: 5px;
  }
  .ffb{
    flex: 5%;
  }
  .finsta{
    flex: 5%;
  }
  .ftwitter{
    flex:50%;
  }
.flast{
    color: #F5EDFF;
    flex: 20%;
    font-size:12px;
}
.copyright{
  color: #F5EDFF;
  flex: 20%;
  font-size:8px;
}

@media screen and (max-width:390px) {
    .ffooter{
        height:85px ; 
      }
      .fmt{
        flex: 10%;
      }
      .ffollow{
        font-size: 12px;
        flex: 25%;
        padding-bottom: 13px;
        margin-right: 10px;
      }
      .ffb{
        flex: 15%;
      }
      .finsta{
        flex: 15%;
      }
      .ftwitter{
        flex:50%;
      }
    .flast{
        flex:35%;
        font-size:6px;
    }
    .copyright{
      font-size:3px;
      flex: 35%;
    }
}