* {
    font-family: heebo;
}

/* Styles for the pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    /* padding-bottom: 70px; */
    border: 0.5px solid rgb(183, 182, 182);
    z-index: 9999;
    display: none;
    width: 300px;
    height: 150px;
    color: #efeeee;
    background-image: linear-gradient(to bottom, #2C1D4F 20%, #3a2962 40%, rgb(57, 40, 96) 60%);
    border-radius: 5px;
}

.popup .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 28px;
    padding: 10px;
}
/*  */
.underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;  
    text-underline-offset: 3px;
}

.popup p a {
    font-size: 27px;
    text-decoration: none;
    line-height: 10px;
}
.popup p span {
    font-weight: 200;
}
.popup p1 a {
    font-size: 11px;
    text-decoration: none;
}
.popup p1 span {
    font-weight: 300;
}
.popup a {
    color: #efeeee;
    display: block;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}


/* Overlay for darkening the background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
}
