body{
  background: #F4F4F4;
}
html::-webkit-scrollbar {
display: none;
}
.title {
  margin-left: 6.5%;
  padding-top: 130px;
  display: flex;
  margin-bottom: -35px;
}

.title p {
  color: black;
  font-size: 45px;
}

.title a {
  color: rgb(151, 149, 149);
  margin-left: 10px;
  padding-top: 30px;
}

img {
  width: 300px;
  height: 300px;
}
.main-parent{
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  align-items: flex-start;
  margin: 10px 20px;
}

.itemdetails {
  margin-left: -10px;
  overflow-y: scroll;
  padding: 30px 10px;
  height: 240px;
}
.itemdetails p {
  color: #241841;
  width: 200px;
  font-weight: 500;
  font-size: 15px;
}
.itemdetails span {
  color: #2C1D4F;
  font-size: 12px;
}


.itemdetails::-webkit-scrollbar {
  width: 3px;
  margin-right: 10px;
}

.itemdetails::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.itemdetails::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px;
}

.itemdetails::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; 
}

.image-container {
  flex-shrink: 0;
  margin-right: 20px;
}

.report-container {
  margin-top: 20px;
}
.report-container >a {
padding: 10px 20px;
  width: 100px;
  height: 40px;
  background-color: #2C1D4F;
  border: none;
  border-radius: 10px;
  color: white; 
  text-decoration: none;
}

.report-container a:hover {
background-color: rgb(253, 251, 251);
}
.report-container a:hover {
color: #2C1D4F;
border: 0.5px solid;
}
.report-container a {
    text-decoration: none;
}

.add-container {
  margin-left: 49%;
  margin-top: 20px;
}
.add-container >a {
padding: 10px 20px;
  width: 100px;
  height: 40px;
  background-color: #2C1D4F;
  border: none;
  border-radius: 10px;
  color: white; 
  text-decoration: none;
}

.add-container a:hover {
background-color: rgb(253, 251, 251);
}
.add-container a:hover {
color: #2C1D4F;
border: 0.5px solid;
}
.add-container a {
    text-decoration: none;
}